[package]
name = "zed-color-highlight"
version = "0.2.2"
edition = "2021"
license = "MIT"

[lib]
crate-type = ["cdylib"]

[dependencies]
zed_extension_api = "^0.7.0"

[profile.release]
codegen-units = 1
lto = true
opt-level = "s"
strip = true
